@media (max-width: 500px) {
    body {
        display: flex;
        flex-wrap: wrap;
    }
}
body{
    background-color: whitesmoke;
}
.navbar{
    background-color: rgba(105, 2, 28, 0.863);
}
.navbar ul {
    list-style: none;
}
.navbar ul li {
    display: inline-block;
    background-color: rgba(105, 2, 28, 0.233);
    border-radius: 20%;
}
.navbar ul li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    display: block;
    text-decoration: none;
}
.main{
    background-color: rgba(218, 214, 214, 0.74);
    border-width: 0.1px;
    border-radius: 5%;
    margin: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
.objetivos p{
    font-weight: bold;
}
.explicacoes ul li{
    font-weight: bold;
    padding: 0.5px;
}
.footer{
    background-color: rgba(105, 2, 28, 0.863);
}
.footer h2{
    color: white;
    margin: 20px;
    padding-top: 7px;
}
.footer ul {
    list-style: none;
    margin-left: 13.85%;
}
.footer ul li {
    display: inline-block;
    background-color: rgba(105, 2, 28, 0.233);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10%;
    
}